/* 
    Document   : el_restorante_style
    Created on : May 4, 2013, 9:38:05 AM
    Author     : indraep
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.category {
    display: inline-block;
    padding: 0px 9px;
    margin: 5px;
    width: 120px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.pager {
  margin-left: 0;
  margin-bottom: 18px;
  list-style: none;
  text-align: center;
  *zoom: 1;
}

.pager:before,
.pager:after {
  display: table;
  content: "";
}
.pager:after {
  clear: both;
}
.pager li {
  display: inline;
}
.pager a {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.pager a:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}
.pager .next a {
  float: right;
}
.pager .previous a {
  float: left;
}
.pager .disabled a,
.pager .disabled a:hover {
  color: #999999;
  background-color: #fff;
  cursor: default;
}

#mainTable {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

#sidebar, #right_sidebar {
    background-image: url(../assets/left_sidebar.png);
    height: 800px;
}

#banner { 
    height: 90px;
    background: url(../assets/header.png);
    margin: 0px;
}

#div_back_next {
    position: absolute;
}

#daftar {
    height: 800px;
    margin: 0 auto;
    margin-left: 30px;
}

#editprofile {
    height: 800px;
    margin: 0 auto;
    margin-left: 30px;
}

#his {
    height: 800px;
    margin: 0 auto;
    margin-left: 30px;
}

#about {
    height: 800px;
    background-color: red;
    margin: 0 auto;
}

#div_menu_detail {
    height: 800px;
    background-color: red;
}

#order:hover {
    opacity: 0.7;
}

#list_category {
    list-style-type: none;
}

#menu {
    position: relative;
    float: right;
    margin-top: 7%;
}

#newpost {
    float: right;
    left: 1050px;
    top: 10px;
}

#show {
    background-color: white;
    list-style-type: none;
}

#login {
    background-image: url(../assets/bg_home.png);
    height: 500px;
}

#mainLogin {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

#logbutton:hover {
    opacity: 0.7;
}

#regbutton:hover {
    opacity: 0.7;
}


#photo {
    width : 200px;height : 200px;background-color : #FFCCCC; float : left;
}

#userdata {
    width : 700px; height : 400px;float : left;
}

nav {
    width: 100%;
    height: 80px;
    float: right;
}

ul.dropdown_user li {
    font: 13px Verdana, 'Lucida Grande';
    cursor: pointer;
    -webkit-transition: padding .05s linear;
    -moz-transition: padding .05s linear;
    -ms-transition: padding .05s linear;
    -o-transition: padding .05s linear;
    transition: padding .05s linear;
}

ul.dropdown_user li.drop {
    position: relative;
    float: right;
}

ul.dropdown_user > li {
    display: inline-block;
}

ul.dropdown_user li a.drop_anchor {
    line-height: 80px;
    float: right;
    padding: 0 20px;
    height: 80px;
    color: #777;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}


.dropOut .triangle {
    width: 0;
    height: 0;
    position: absolute;
    top: -8px;
    left: 50%;
    margin-left: -8px;
}
.dropdownContain {
    width: 160px;
    position: absolute;
    z-index: 2;
    left: 50%;
    margin-left: -80px; /* half of width */
    top: -400px;
}
.dropOut {
    width: 160px;
    background: white;
    float: left;
    position: relative;
    margin-top: 0px;
    opacity: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}

.dropOut ul.dropdown_user {
    float: left;
    padding: 10px 0;
}
.dropOut ul.dropdown_user li {
    text-align: left;
    float: left;
    width: 125px;
    padding: 12px 0 10px 15px;
    margin: 0px 10px;
    color: #777;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background .1s ease-out;
    -moz-transition: background .1s ease-out;
    -ms-transition: background .1s ease-out;
    -o-transition: background .1s ease-out;
    transition: background .1s ease-out;
}

.dropOut ul.dropdown_user li:hover {
    background: #f6f6f6;
}

ul.dropdown_user li:hover a.drop_anchor { color: white; }
ul.dropdown_user li:hover .dropdownContain { top: 65px; }
ul.dropdown_user li:hover .underline { border-bottom-color: #777; }
ul.dropdown_user li:hover .dropOut { opacity: 1; margin-top: 8px; } 

.login_anchor {
    text-decoration: none;
}

.edit_anchor {
    text-decoration: none;
}
